p {  font-size: 10pt; color: #333333; line-height: 1.5; }
a {  color: #333333; text-decoration: none; font-weight: bold}
.contents { background-color: #FFFFFF; border-width:1px; border-style: solid;  padding-left: 2ex; padding-right: 2ex; padding-top: 1ex;}
